/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

img {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button:focus {
  outline: none; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.mainarea {
  height: 100%;
  background-size: contain;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .mainarea-background-layout {
    width: 100%; }
  .mainarea-background-bubbles {
    width: 100%; }
  .mainarea .main-menu {
    width: 47px;
    margin: 4% 0 0 4%;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 100; }
    .mainarea .main-menu-line {
      height: 6px;
      width: 100%;
      border-radius: 20px;
      background: #003f77;
      margin-bottom: 7px; }
  .mainarea .notification {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 1%;
    z-index: 2; }
    .mainarea .notification img {
      width: 100%; }
    .mainarea .notification .photo {
      width: 20%;
      margin: auto; }
    .mainarea .notification-text {
      position: absolute;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 8vw;
      text-align: center;
      top: 0;
      left: 0;
      margin: auto;
      width: 70%;
      height: 50%;
      display: block;
      bottom: 0;
      right: 0; }
  .mainarea .person {
    position: absolute;
    bottom: 0;
    width: 61%;
    right: 0;
    z-index: 1; }
    .mainarea .person img {
      width: 100%; }
  .mainarea .stand {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 1; }
    .mainarea .stand__bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .mainarea .stand__text {
      position: absolute;
      bottom: 40%;
      left: 0;
      right: 0;
      width: 90%;
      z-index: 3;
      margin: auto; }
    .mainarea .stand__party {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      width: 64%;
      z-index: 4;
      margin: auto; }
  .mainarea .logo {
    width: 20%;
    height: 11%;
    position: absolute;
    bottom: 4%;
    right: 6%;
    background: url(../img/logo.jpg) no-repeat;
    background-size: contain;
    z-index: 10; }
  .mainarea .first-block {
    width: 30.2%;
    height: 17.6%;
    position: absolute;
    bottom: 35.1%;
    left: 0;
    background: rgba(0, 255, 0, 0.5);
    background-size: cover !important; }
    .mainarea .first-block.active {
      background: url(../img/book-active.png) no-repeat; }
      .mainarea .first-block.active img {
        display: none; }
    .mainarea .first-block img {
      width: 61%;
      position: absolute;
      right: 2px;
      left: 0;
      margin: auto;
      top: 1px;
      bottom: 0; }
  .mainarea .second-block {
    width: 30.2%;
    height: 17.5%;
    position: absolute;
    bottom: 17.6%;
    left: 20%;
    background: rgba(0, 255, 0, 0.5);
    background-size: cover !important; }
    .mainarea .second-block.active {
      background: url(../img/shirt-active.png) no-repeat; }
      .mainarea .second-block.active img {
        display: none; }
    .mainarea .second-block img {
      width: 74%;
      position: absolute;
      right: 4px;
      left: 0;
      margin: auto;
      top: -8px;
      bottom: 0; }
  .mainarea .camera {
    width: 30.2%;
    height: 17.6%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/camera-bg.png) no-repeat;
    background-size: contain !important;
    cursor: pointer; }
    .mainarea .camera img {
      width: 45%;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      top: 15%;
      bottom: 0; }
    .mainarea .camera input[type="file"] {
      width: 100%;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      top: 15%;
      bottom: 0; }

.personal-friends .mainarea .main-menu-line {
  background: #ffcf00; }
.personal-friends .mainarea .person {
  width: 57%; }
.personal-friends .mainarea .first-block {
  background: rgba(255, 230, 0, 0.8); }
.personal-friends .mainarea .second-block {
  background: rgba(255, 230, 0, 0.8); }
.personal-friends .mainarea .camera {
  background: url(../img/camera-bg-v.png) no-repeat; }
.personal-friends.final .mainarea .person {
  width: 48%;
  right: 7%; }

.expire .mainarea .person {
  right: 15%;
  width: 71.5%; }
.expire .mainarea .notification-text {
  width: 75%; }
  .expire .mainarea .notification-text .photo {
    width: 18%;
    position: relative;
    top: 15%; }
  .expire .mainarea .notification-text input[type="file"] {
    cursor: pointer;
    width: 18%;
    opacity: 0;
    position: relative;
    top: -25px;
    height: 26%; }
  .expire .mainarea .notification-text .code {
    color: #f00;
    font-size: 100%; }
.expire.personal-friends .mainarea .person {
  width: 55%;
  right: 24%; }

.final .mainarea .notification-text {
  width: 85%; }
  .final .mainarea .notification-text .code {
    color: #f00;
    font-size: 120%;
    position: relative;
    top: 5%; }
.final .mainarea .first-block {
  text-align: center;
  background: url(../img/dark-bg-1.png); }
.final .mainarea .second-block {
  text-align: center;
  background: url(../img/dark-bg-2.png); }
.final .mainarea .minutes, .final .mainarea .seconds {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 10vw;
  margin-top: 22%; }
.final .mainarea .time-label {
  color: #003076;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 4vw; }
.final.personal-friends .first-block, .final.personal-friends .second-block {
  background: url(../img/violet-bg-1.png); }

body, html {
  width: 100%;
  min-height: 100%; }

.fl_l {
  float: left; }

.fl_r {
  float: right; }

/*# sourceMappingURL=main.css.map */
