<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>acces_management</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../css/main.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <script>
        	var accessManagementData = [{
        		id: '1',
        		name: 'CAS Initiator',
    			activity: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			toolbox: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			brand: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			accessManagement: {
    				view: true,
    				change: true,
    				approve: false
    			},
        		adGroups: ['AD Business Admin', 'AD CAS Initiator']
        	}, {
        		id: '2',
        		name: 'CAS Initiator 2',
    			activity: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			toolbox: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			brand: {
    				view: true,
    				change: true,
    				approve: false
    			},
    			accessManagement: {
    				view: true,
    				change: true,
    				approve: false
    			},
        		adGroups: ['AD Business Admin', 'AD CAS Initiator', 'AD Trade Approver']
        	}]; 
        </script>
    </head>
    <body class="acces_management_page">
        <div id="mainarea" class="approval_flow_wrap">
            <header class="header">
                <div class="wrap">
                    <nav class="navbar navbar-blue" role="navigation">
                        <div class="nav navbar-logo float-left">
                            <img src="../../img/logo.png" width="120" height="29" alt="">
                        </div>
                        <div class="nav navbar-nav navigation_dropdown float-right">
                            <span class="navigation_dropdown_text navigation_ico-big">
                                activity feed
                                <span class="sprite caret"></span>
                            </span>
                            <div class="navigation_dropdown_block">
                                <div class="navigation_dropdown_block_wrap">
                                    <ul class="navigation_dropdown_list">
                                        <li class="active">
                                            <a href="#">Approval FLOW</a>
                                        </li>
                                        <li>
                                            <a href="#">news feed</a>
                                        </li>
                                        <li>
                                            <a href="#">My profile</a>
                                        </li>
                                    </ul>
                                    <ul class="navigation_dropdown_list_news">
                                        <li>
                                            <a href="#">
                                                <div class="navigation_dropdown_img_wrap img_circle">
                                                    <img src="../../img/8050011819_ba3e2bc4a3_h.jpg" class="img_circle_v" alt="">
                                                </div>
                                                <div class="navigation_dropdown_text_wrap">
                                                    <h3 class="navigation_dropdown_list_news_title navigation_dropdown_approved">
                                                        Approved 
                                                        <span class="navigation_dropdown_list_news_date">13.01.15</span>
                                                    </h3>
                                                    <p class="navigation_dropdown_list_news_text">
                                                        Parliament Carat SSL Silk (iPad app | Pack revealer)
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="navigation_dropdown_img_wrap img_circle">
                                                    <img src="../../img/8050011819_ba3e2bc4a3_h.jpg" class="img_circle_side_pack" alt="">
                                                </div>
                                                <div class="navigation_dropdown_text_wrap">
                                                    <h3 class="navigation_dropdown_list_news_title navigation_dropdown_declined">
                                                        Declined 
                                                        <span class="navigation_dropdown_list_news_date">14.01.15</span>
                                                    </h3>
                                                    <p class="navigation_dropdown_list_news_text">
                                                        Parliament Carat SSL Plug-in toolbox (fashion)
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="navigation_dropdown_img_wrap img_circle">
                                                    <img src="../../img/8050011819_ba3e2bc4a3_h.jpg" class="img_circle_v" alt="">
                                                </div>
                                                <div class="navigation_dropdown_text_wrap">
                                                    <h3 class="navigation_dropdown_list_news_title">
                                                        updated 
                                                        <span class="navigation_dropdown_list_news_date">11.01.13</span>
                                                    </h3>
                                                    <p class="navigation_dropdown_list_news_text">
                                                        Parliament Carat SSL Silk (iPad app | Pack revealer)
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="navigation_dropdown_img_wrap img_circle">
                                                    <img src="../../img/8050011819_ba3e2bc4a3_h.jpg" class="img_circle_side_pack" alt="">
                                                </div>
                                                <div class="navigation_dropdown_text_wrap">
                                                    <h3 class="navigation_dropdown_list_news_title">
                                                        New 
                                                        <span class="navigation_dropdown_list_news_date">10.02.12</span>
                                                    </h3>
                                                    <p class="navigation_dropdown_list_news_text">
                                                        Parliament Carat SSL Plug-in toolbox (fashion)
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="menu_navigate nav">
                            <a href="#">Access management</a>
                            <a href="#">Logs</a>
                            <a href="#">Email Notification</a>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="wrap">
                <div class="menu_wrap clearfix">
                    <div class="menu_scroll_wrap">
                        <ul class="menu">
                            <li>
                                <a href="#">cas Department</a>
                            </li>
                            <li class="active">
                                <a href="#">access management</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="main_title main_title_approval">Access management</h1>
                </div>
            </div>
            
            <div class="wrap_table access-management-block">
                <div class="access-management-item" data-id="1">
                    <div class="title_table">
                        <div class="wrap padding-left">
                            <table>
                                <tr>
                                    <th>name</th>
                                    <th>entity</th>
                                    <th>Rights</th>
                                    <th>AD groups</th>
                                    <th>Action</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="wrap padding-left">
                        <table class="approval_table wrap">
                            <tr>
                                <td class="access-management-name" rowspan="4">CAS Initiator</td>
                                <td>Activity</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-activity-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-activity-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-activity-approve">No</span> <br>
                                </td>
                                <td class="access-management-ad-groups">
                                    AD Business Admin, <br>
                                    AD CAS Initiator <br>
                                </td>   
                                <td class="button_table">   
                                    <button class="btn btn_rounded btn_gray btn_edit">edit</button><br>
                                    <button class="btn btn_rounded btn_red btn_delete">delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Toolbox</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-toolbox-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-toolbox-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-toolbox-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Brand</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-brand-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-brand-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-brand-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Access <br> management</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-access-management-view">No</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-access-management-change">No</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-access-management-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="access-management-item" data-id="2">
                    <div class="title_table">
                        <div class="wrap padding-left">
                            <table>
                                <tr>
                                    <th>name</th>
                                    <th>entity</th>
                                    <th>Rights</th>
                                    <th>AD groups</th>
                                    <th>Action</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="wrap padding-left">
                        <table class="approval_table wrap">
                            <tr>
                                <td class="access-management-name" rowspan="4">CAS Initiator 2</td>
                                <td>Activity</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-activity-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-activity-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-activity-approve">No</span> <br>
                                </td>
                                <td class="access-management-ad-groups">
                                    AD Business Admin, <br>
                                    AD CAS Initiator, <br>
                                    AD Trade Approver <br>
                                </td>   
                                <td class="button_table">   
                                    <button class="btn btn_rounded btn_gray btn_edit">edit</button><br>
                                    <button class="btn btn_rounded btn_red btn_delete">delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Toolbox</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-toolbox-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-toolbox-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-toolbox-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Brand</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-brand-view">Yes</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-brand-change">Yes</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-brand-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Access <br> management</td>
                                <td>
                                    <span class="table_text_bold">View:</span> <span class="access-management-access-management-view">No</span> <br>
                                    <span class="table_text_bold">Change:</span> <span class="access-management-access-management-change">No</span> <br>
                                    <span class="table_text_bold">Approve:</span> <span class="access-management-access-management-approve">No</span> <br>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="acces_content_wrap">
                    <button class="btn btn-default btn-add-role">add role</button>
                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="wrap">
                <a href="#" class="footer_logo float-left">
                    <img src="../../img/logo_gray.png" width="100" height="22" alt="">
                </a>
                <div class="footer_navigate_wrap float-left">
                    <nav class="footer_navigate nav">
                        <a href="#">Главная</a>
                        <a href="#">Условия Пользования</a>
                        <a href="#">Уведомление о конфиденциальности</a>
                    </nav>
                    <div class="footer_copyright">
                        © 2002-2014 Philip Morris International Management SA
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </footer>

        <div id="popup_block" class="">
            <div id="popup_fone"></div>
        </div>

        <script type="text/html" id="popup-acces-managment-tpl">
        	<div class="popup_window popup_acces_managment">
        	    <form action="/request.json">
        	        <ul class="popup_acces_managment_list">
        	            <li>
        	                <h2 class="popup_title">Name</h2>
        	                <input type="text" placeholder="Business admin" class="input_default gray requiredFields" name="name" value="<%= data.name %>">
        	            </li>
        	            <li>
        	                <h2 class="popup_title">Rights</h2> 
        	                <table class="popup_acces_managment_table">
        	                    <tbody>
        	                        <tr>
        	                            <td>Activity</td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="activityView" <%= data.activity.view ? 'checked="checked"' : '' %>>View
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="activityChange" <%= data.activity.change ? 'checked="checked"' : '' %>>Edit
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="activityApprove" <%= data.activity.approve ? 'checked="checked"' : '' %>>Approve
        	                                </label>
        	                            </td>
        	                        </tr>
        	                        <tr>
        	                            <td>Toolbox</td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="toolboxView" <%= data.toolbox.view ? 'checked="checked"' : '' %>>View
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="toolboxChange" <%= data.toolbox.change ? 'checked="checked"' : '' %>>Edit
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="toolboxApprove" <%= data.toolbox.approve ? 'checked="checked"' : '' %>>Approve
        	                                </label>
        	                            </td>
        	                        </tr>
        	                        <tr>
        	                            <td>Brand content</td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="brandView" <%= data.brand.view ? 'checked="checked"' : '' %>>View
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="brandChange" <%= data.brand.change ? 'checked="checked"' : '' %>>Edit
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="brandApprove" <%= data.brand.approve ? 'checked="checked"' : '' %>>Approve
        	                                </label>
        	                            </td>
        	                        </tr>
        	                        <tr>
        	                            <td>Access Management</td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="accessManagementView" <%= data.accessManagement.view ? 'checked="checked"' : '' %>>Edit
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="accessManagementChange" <%= data.accessManagement.change ? 'checked="checked"' : '' %>>Edit
        	                                </label>
        	                            </td>
        	                            <td>
        	                                <label class="checkbox">
        	                                    <span class="label_ico"></span>
        	                                    <input type="checkbox" name="accessManagementApprove" <%= data.accessManagement.approve ? 'checked="checked"' : '' %>>Approve
        	                                </label>
        	                            </td>
        	                        </tr>
        	                    </tbody>
        	                </table>
        	            </li>
        	            <li>
        	                <h2 class="popup_title">AD Groups</h2>
        	                <div class="select_wrap select_default select_multiple_default select_multiple_search select_long">
        	                    <select class="js-example-basic-multiple" name="adGroups" multiple="multiple">
        	                        <option value="AD Business Admin">AD Business Admin</option>
        	                        <option value="AD CAS Initiator">AD CAS Initiator</option>
        	                        <option value="AD Trade Approver ">AD Trade Approver </option>
        	                    </select>
        	                </div>
        	            </li>
        	        </ul>
        	        <div class="btn_wrap">
        	            <button class="btn btn-default btn-save">save</button>
        	            <button class="btn btn-default btn-cansel">cancel</button>
        	        </div>
        	    </form>
        	</div>
        </script>

        <script type="text/html" id="popup-acces-item-tpl">
        	<div class="access-management-item" data-id="<%= data.id %>">
                <div class="title_table">
                    <div class="wrap padding-left">
                        <table>
                            <tr>
                                <th>name</th>
                                <th>entity</th>
                                <th>Rights</th>
                                <th>AD groups</th>
                                <th>Action</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="wrap padding-left">
                    <table class="approval_table wrap">
                        <tr>
                            <td class="access-management-name" rowspan="4"><%= data.name %></td>
                            <td>Activity</td>
                            <td>
                                <span class="table_text_bold">View:</span> <span class="access-management-activity-view"><%= data.activity.view ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Change:</span> <span class="access-management-activity-change"><%= data.activity.change ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Approve:</span> <span class="access-management-activity-approve"><%= data.activity.approve ? 'Yes' : 'No' %></span> <br>
                            </td>
                            <td class="access-management-ad-groups">
                                <%= data.adGroups ? data.adGroups.join(', <br>') : '' %>
                            </td>   
                            <td class="button_table">   
                                <button class="btn btn_rounded btn_gray btn_edit">edit</button><br>
                                <button class="btn btn_rounded btn_red btn_delete">delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Toolbox</td>
                            <td>
                                <span class="table_text_bold">View:</span> <span class="access-management-toolbox-view"><%= data.toolbox.view ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Change:</span> <span class="access-management-toolbox-change"><%= data.toolbox.change ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Approve:</span> <span class="access-management-toolbox-approve"><%= data.toolbox.approve ? 'Yes' : 'No' %></span> <br>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>
                                <span class="table_text_bold">View:</span> <span class="access-management-brand-view"><%= data.brand.view ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Change:</span> <span class="access-management-brand-change"><%= data.brand.change ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Approve:</span> <span class="access-management-brand-approve"><%= data.brand.approve ? 'Yes' : 'No' %></span> <br>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Access <br> management</td>
                            <td>
                                <span class="table_text_bold">View:</span> <span class="access-management-access-management-view"><%= data.accessManagement.view ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Change:</span> <span class="access-management-access-management-change"><%= data.accessManagement.change ? 'Yes' : 'No' %></span> <br>
                                <span class="table_text_bold">Approve:</span> <span class="access-management-access-management-approve"><%= data.accessManagement.approve ? 'Yes' : 'No' %></span> <br>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </script>

        <script src="../../js/vendor/jquery-1.11.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../../js/vendor/jquery-ui.min.js"></script>
        <script src="../../js/vendor/checked_polyfill.min.js"></script>
        <script src="../../js/vendor/lodash.min.js"></script>
        <script src="../../js/vendor/select2.min.js"></script>
        <script src="../../js/main.js"></script>
    </body>
</html>
